<p>Form works!</p>
<div class="container">
<form (ngSubmit)="onSubmit()" #myform="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" required [(ngModel)]="password" name="password" />
  </div>
  <button type="submit" class="btn btn-sucess" [disabled]="!myform.form.valid">Submit</button>

</form>

</div>

<div class="container">
  <app-about (serverCreated)="onServerAdded($event)" (bluePrintCreated)="onBluePrintAdded($event)"></app-about>
  <hr>
  <div class='row'>
    <div class='col-xs-12'>
      <app-home *ngFor='let serverElement of serverElements' [srvElement]="serverElement"></app-home>
    </div>
  </div>
</div>
