<mat-toolbar color="primary" class="nav-height">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)='openLeftSide()'>menu</mat-icon>
    </button>
    <h1>Quan Ly Hoc Sinh</h1>
    <span class="menu-spacer" stype="width:100px;"></span>
    <div>
      <a mat-button [routerLink]="['/home']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>homne</mat-icon>Home
      </a>
      <a mat-button [routerLink]="['/form']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>filter_none</mat-icon>Form
      </a>
      <a mat-button [routerLink]="['/reactiveform']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>folder_shared</mat-icon>Reactive From
      </a>
      <a mat-button [routerLink]="['/about']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>star_rate</mat-icon>About
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">
        <mat-icon mat-list-icon>home</mat-icon>Home
      </a>
      <a mat-list-item [routerLink]="['/form']">
        <mat-icon>filter_none</mat-icon>Form
      </a>
      <a mat-list-item [routerLink]="['/reactiveform']">
        <mat-icon>folder_share</mat-icon>Reactive Form
      </a>
      <a mat-list-item [routerLink]="['/about']">
        <mat-icon>person</mat-icon>About
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon>Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height:90vh;margin-top: 20px; margin-right: 10px; margin-left: 10px;" [ngClass]="{'content-move-left':!isOpen,'content-move-right':isOpen}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-card>
  <ng-container class="heading">
    <img src="https://ss-images.saostar.vn/wp700/pc/1621735437197/saostar-mbtr9wkn7u3jqur1.jpg"/>
  </ng-container>
  <ng-container class="body">
    <h5 class="card-title">Card Title</h5>
    <p class="card-text">Some quick example text to build</p>
    <a href="#" class="btn btn-primary">go somewhere</a>
  </ng-container>
</app-card>
